@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-size: 17px;
  overflow: hidden;
}

.creatTaskBtn {
  background-image: linear-gradient(to left top, 
  #73e480,
  #319220
);
}

.testWrap {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in IE 10+ */
}
